extends layout.pug 

block content
    section#content
        h2 Welcome #{name}!
        p here is the place to study!
        if name
            form(action="/goodbye", method="post")
                button("submit") Logout